@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin scrollbars for sidebars */
.thin-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
